* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  position: relative;
  min-height: 100%;
  width: 100%;
}

.upper {
  text-transform: uppercase;
}

/*HEADER*/

header {
  height: 88px;
  // background-color: #023a5c;
  background-image: linear-gradient(
    rgba(0, 79, 143, 1),
    rgba(0, 123, 193, 1),
    rgba(0, 79, 143, 1)
  );
  position: relative;
  .container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    .white-box {
      position: absolute;
      width: 250px;
      height: 174px;
      background-color: #fff;
      box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.15);
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) scale(0.8);
      }
    }
    .navigation {
      ul {
        display: flex;
        list-style: none;
        align-items: flex-end;
        justify-content: flex-end;
        height: 88px;
        li {
          line-height: 70px;
          &:nth-last-of-type(1) {
            a {
              padding-right: 0;
            }
          }
          a {
            display: block;
            text-decoration: none;
            font-size: 21px;
            color: #ffffff;
            font-weight: 300;
            padding: 0 20px;
          }
        }
      }
    }
  }
  .search {
    position: absolute;
    bottom: 0;
    right: 0;
    .search-icon {
      position: absolute;
      bottom: 16px;
      right: 22px;
      cursor: pointer;
    }
    .search-input {
      opacity: 0;
      position: absolute;
      bottom: 28px;
      right: 64px;
      width: 176px;
      height: 30px;
      background-color: rgba(255, 255, 255, 0.3);
      border: 1px solid #373749;
      &.active {
        opacity: 1;
      }
    }
  }
}

/*MAIN*/

main {
  width: 1000px;
  margin: 0 auto;
  .about {
    display: flex;
    height: 214px;
    justify-content: center;
    align-items: center;
    .about-img {
      margin-right: 10px;
      margin-top: 80px;
    }
    h1 {
      margin-top: 80px;
      font-size: 29px;
      color: #023a5c;
      font-weight: 400;
    }
  }
  .desc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    .desc-heading {
      width: 100%;
      padding: 45px 0 20px 0;
      font-size: 17px;
      color: #373749;
      font-weight: 300;
    }
    .desc-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 48%;
      max-height: 975px;
      column-gap: 8%;
      .desc-img {
        margin-bottom: 26px;
      }
      h2 {
        font-size: 17px;
        color: #373749;
        font-weight: 300;
      }
      p {
        font-size: 17px;
        color: #373749;
        font-weight: 300;
        text-align: justify;
        margin-bottom: 20px;
      }
    }
  }
}

section.menu,
section.menu .menu-icon,
section.menu .menu-small,
section.menu .menu-expanded,
.search-input {
  transition: all 0.3s linear;
}

section.menu {
  width: 60px;
  display: block;
  position: absolute;
  top: 88px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.15);
  .menu-icon {
    position: absolute;
    top: 488px;
    right: 20px;
    cursor: pointer;
    transform: rotate(0deg);
  }
  .menu-small {
    position: absolute;
    top: 506px;
    text-align: center;
    width: 60px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 33px;
    color: #313748;
    font-weight: 300;
    cursor: default;
  }
  .menu-expanded {
    opacity: 0;
    position: absolute;
    h2 {
      margin: 90px auto 0 36px;
      font-size: 21px;
      line-height: 33px;
      color: #023a5c;
      font-weight: 300;
    }
    img.small-dotted-line {
      margin: 24px 36px;
    }
    .menu-nav {
      .nav-top,
      .nav-bottom {
        display: flex;
        flex-direction: column;
        li {
          list-style: none;
          a {
            display: block;
            text-decoration: none;
            font-size: 21px;
            line-height: 33px;
            color: #023a5c;
            font-weight: 300;
          }
        }
      }
    }
    a {
      display: block;
      margin: 0 auto 0 36px;
      img {
        padding: 10px 0;
      }
    }
  }
  &.active {
    width: 212px;
    .menu-icon {
      opacity: 0.2;
      transform: rotate(180deg);
    }
    .menu-small {
      opacity: 0;
    }
    .menu-expanded {
      opacity: 1;
    }
  }
}

footer {
  position: relative;
  height: 68px;
  margin-top: 50px;
  // background-color: #023a5c;
  background-image: linear-gradient(
    rgba(0, 79, 143, 1),
    rgba(0, 123, 193, 1),
    rgba(0, 79, 143, 1)
  );
}
